@use 'styles/mixins' as *;

:host {
  @include flex(center, center, column);

  height: 100%;
  margin-top: -48px;
  text-align: center;
}

.settings-icon {
  @include rectangle(64px);

  color: var(--color-primary);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.heading {
  margin: 20px 0 0;
}

.description {
  max-width: 80%;
  margin: 12px 0 0;
  color: var(--color-text-secondary);
  font-size: 14px;
}

.back-button {
  min-width: 200px;
  margin-top: 24px;
}
