<img src="assets/cosmos-atom-logo.svg" alt="" />

<div class="group">
  <div class="title">
    Cosmos Hub
    <div class="ticker">(ATOM)</div>
  </div>

  <div class="description">
    Cosmos Hub is the first of thousands of interconnected blockchains that will
    eventually comprise the Cosmos Network. The primary token of the Cosmos Hub
    is the ATOM, but the Hub will support many tokens in the future.
  </div>

  <div class="block">Making blocks since March 13, 2019</div>
</div>

<div class="keplr">
  Add to Keplr

  <img class="arrow-right" src="assets/right-arrow-svgrepo-com.svg" alt="" />
</div>
