:host {
  display: block;
  text-align: center;
  text-wrap: nowrap;
}

.step-number {
  color: var(--color-text-secondary);
  font-size: 12px;
  text-transform: uppercase;
}

.step-title {
  margin-top: 4px;
  font-size: 20px;
}

.step-status {
  margin-top: 8px;
  color: var(--color-text-secondary);
  font-size: 12px;
  transition: color 150ms ease-in-out;

  &.completed {
    color: var(--color-indication-success);
  }

  &.in-progress {
    color: var(--color-primary);
  }
}
