<svg-icon
  class="close-icon"
  key="close"
  aria-label="Close modal dialog"
  role="button"
  (click)="installKeplrDialogRef.close()"
/>

<img class="keplr-logo" src="assets/images/keplr-logo.png" alt="" width="80" height="80" />

<h2 class="heading">Keplr is not installed</h2>

<p class="description">
  Keplr is an open-source browser extension wallet for the Cosmos interchain ecosystem. It provides the most flexible
  and versatile account management and wallet functionalities for all Cosmos-SDK based blockchains. Please install it to
  move forward.
</p>

<a class="keplr-link" href="https://www.keplr.app/download" target="_blank">
  <app-button class="download-button">Download Keplr Wallet</app-button>
</a>
