@use 'styles/mixins' as *;

:host {
  @include flex(center, null, column);

  position: relative;
  width: 440px;
  padding: 36px 40px 24px;
  border-radius: 8px;
  background-color: var(--color-always-white);
  text-align: center;
}

.close-icon {
  @include rectangle(24px);

  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.cancel-icon {
  @include rectangle(80px);

  color: var(--color-indication-error);
}

.heading {
  margin: 20px 0 0;
}

.description {
  margin: 12px 0 0;
  color: var(--color-text-secondary);
  font-size: 14px;
  word-break: break-word;
}

.got-it {
  align-self: stretch;
  margin-top: 28px;
}
