@for (proposal of (paginatedProposals$ | async)?.proposals; track proposal.id) {
<app-proposal-card [proposal]="proposal" [vote]="votes[proposal.id] | async" (editVote)="onEditVote(proposal)" />
} @if (canShowShimmers$ | async) { @for (_ of shimmers; track $index) {
<app-proposal-card appWhenInViewport (appear)="onLoadNext()" />
}}

<div class="buttons">
  <div class="overflow-gradient"></div>

  <app-button class="button" appearance="secondary" (click)="backToChainList.emit()">Back</app-button>

  <app-button
    class="button button--sign"
    [loading]="proposalVotesService.isSigning$ | async"
    [disabled]="(proposalVotesService.hasUnsavedVotes$ | async) === false"
    (click)="onSign()"
  >
    Sign
  </app-button>
</div>
