@use 'styles/mixins' as *;

:host {
  display: block;
  padding-bottom: 24px;
}

app-proposal-card {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.buttons {
  @include flex(center, center);

  position: absolute;
  bottom: 10dvh;
  width: 720px;
  padding: 8px 0 16px;
  background-color: var(--color-always-white);
}

.overflow-gradient {
  @include rectangle(100%, 48px);

  position: absolute;
  top: -48px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.button {
  min-width: 172px;

  &--sign {
    margin-left: 16px;
  }
}
