@for (proposal of (paginatedProposals$ | async)?.proposals; track proposal.id) {
<app-proposal-card
  [proposal]="proposal"
  [vote]="votes[proposal.id] | async"
  (editVote)="proposalVotesService.editVote(proposal)"
/>
} @if (canShowShimmers$ | async) { @for (_ of shimmers; track $index) {
<app-proposal-card appWhenInViewport (appear)="onLoadNext()" />
}}

<div class="buttons">
  <div class="overflow-gradient"></div>

  <app-button class="button" appearance="secondary" (click)="backToChainList.emit()">Back</app-button>

  <!-- TODO: (AlexanderFSP) Handle `click` -->
  <app-button class="button button--sign" [disabled]="(proposalVotesService.hasUnsavedVotes$ | async) === false">
    Sign
  </app-button>
</div>
