@use 'styles/mixins' as *;

:host {
  display: block;
}

app-proposal-card {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.buttons {
  @include flex(center, center);

  position: sticky;
  bottom: -40px;
  margin-top: 20px;
}

.button {
  min-width: 172px;

  &--sign {
    margin-left: 16px;
  }
}
