@use 'styles/mixins' as *;

:host {
  display: block;
}

.card {
  @include rectangle(860px, 80dvh);

  background-color: var(--color-always-white);
  margin: 10dvh auto;
  padding: 60px 70px;
  border-radius: 8px;
  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.2), 2px 4px 4px hsl(var(--shadow-color) / 0.2),
    4px 8px 8px hsl(var(--shadow-color) / 0.2), 8px 16px 16px hsl(var(--shadow-color) / 0.2),
    16px 32px 32px hsl(var(--shadow-color) / 0.2);
  overflow-y: auto;
}

.content {
  margin-top: 140px;
}
