@use 'styles/mixins' as *;

:host {
  display: block;
}

.card {
  @include flex(null, null, column);
  @include rectangle(860px, 80dvh);

  overflow-y: auto;
  margin: 10dvh auto;
  padding: 60px 70px;
  border-radius: 8px;
  background-color: var(--color-always-white);

  // https://www.joshwcomeau.com/css/designing-shadows/
  box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 20%), 2px 4px 4px hsl(220deg 60% 50% / 20%),
    4px 8px 8px hsl(220deg 60% 50% / 20%), 8px 16px 16px hsl(220deg 60% 50% / 20%),
    16px 32px 32px hsl(220deg 60% 50% / 20%);
}

.content {
  flex-grow: 1;
  margin-top: 140px;
}

.form-me-on-github {
  @include rectangle(144px);

  position: absolute;
  top: 0;
  right: 0;
}
