@use 'styles/mixins' as *;

:host {
  display: block;
}

.status-button {
  @include flex(center);

  color: var(--color-primary);

  &.editable {
    transition: opacity 100ms ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &.success {
    color: var(--color-indication-success);
  }

  &.error {
    color: var(--color-indication-error);
  }

  &.error-dark {
    color: var(--color-indication-error-dark);
  }

  &.secondary {
    color: var(--color-text-secondary);
  }
}

.status-icon {
  @include rectangle(14px);

  margin-left: 4px;
}
