:host {
  display: block;
}

.button {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &.primary {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-always-white);

    &:hover {
      background-color: #6f93d4;
    }
  }

  &.secondary {
    border: 1px solid var(--color-primary);
    background-color: var(--color-always-white);
    color: var(--color-primary);

    &:hover {
      background-color: rgba(var(--color-secondary-rgb), 0.4);
    }
  }
}
