<img class="logo" [src]="chain().logoSrc" alt="" />

<div class="info">
  <div class="header">
    {{ chain().info.chainName }}
    <div class="ticker">({{ chain().info.stakeCurrency?.coinDenom }})</div>
  </div>

  <div class="description">{{ chain().description }}</div>

  <div class="start-date">Making blocks since {{ chain().startDate | date : 'MMMM d, y' }}</div>
</div>

<div
  class="keplr"
  [ngClass]="{ 'not-installed': !keplrService.isInstalled, 'is-registered': isRegistered$ | async }"
  role="button"
  (click)="onAddToKeplr($event)"
>
  @if (isRegistered$ | async) { Added

  <svg-icon class="keplr-icon" key="checkmark" />
  } @else { Add to Keplr

  <svg-icon class="keplr-icon" key="plus" />
  }
</div>
