<img class="logo" [src]="chain().logoSrc" alt="" />

<div class="info">
  <div class="header">
    {{ chain().info.chainName }}
    <div class="ticker">({{ chain().info.stakeCurrency?.coinDenom }})</div>
  </div>

  <div class="description">{{ chain().description }}</div>

  <div class="start-date">Making blocks since {{ chain().startDate | date : 'MMMM d, y' }}</div>
</div>

<div class="keplr" [class.not-installed]="!keplrService.isInstalled" role="button" (click)="onAddToKeplr($event)">
  @if (isRegistered$ | async) { Added

  <img class="checkmark-circle" src="assets/images/checkmark-circle.svg" alt="" />
  } @else { Add to Keplr

  <img class="arrow-right" src="assets/right-arrow.svg" alt="" />
  }
</div>
