@use 'styles/mixins' as *;

:host {
  @include flex(center);

  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  padding: 20px 28px;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--color-secondary-rgb), 0.2);
  }
}

.logo {
  @include rectangle(40px);
}

.info {
  @include flex(null, null, column);

  width: 425px;
  margin-left: 24px;
}

.header {
  @include flex(center);

  font-size: 18px;
}

.ticker {
  color: var(--color-text-secondary);
  font-size: 12px;
  margin: 1px 0 0 8px;
}

.description {
  margin-top: 8px;
  font-size: 12px;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.start-date {
  color: var(--color-text-secondary);
  margin-top: 12px;
  font-size: 10px;
}

.keplr {
  @include flex(center);

  color: var(--color-primary);
  margin-left: auto;
  user-select: none;

  &:not(.is-registered) {
    transition: opacity 100ms ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  &.not-installed {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.keplr-icon {
  @include rectangle(14px);

  margin-left: 4px;
}
