/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgb(153, 187, 255);
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: normal;
}
