/* You can add global styles to this file, and also import other style files */

html {
  --color-primary: #99bbff;
  --color-secondary: #e2f1ff;
  --color-text-main: #414756;
  --color-text-secondary: #a5abbd;
  --color-indication-success: #2dc193;
  --color-always-white: white;
}

body {
  background-color: var(--color-primary);
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: normal;
}
