<div class="info">
  <div class="header">Looks suspicious..</div>

  <div class="description">
    The content of&nbsp;the proposal may be&nbsp;harmful. I&nbsp;advise you not to&nbsp;interact with any links and
    remain cautious. However, you can vote &laquo;No&raquo; or&nbsp;&laquo;No&nbsp;with Veto&raquo; on&nbsp;this
    proposal. Signing the &laquo;No&raquo; vote transaction will not compromise your security.
  </div>
</div>

<div class="show" role="button" (click)="show.emit()">Show</div>
