<div class="header">
  <div class="title">
    Vote

    <svg-icon
      class="close-icon"
      key="close"
      aria-label="Close modal dialog"
      role="button"
      (click)="voteDialogRef.close()"
    />
  </div>

  <div class="proposal-title">
    #{{ voteDialogRef.proposal.id }}
    {{ voteDialogRef.proposal.title || voteDialogRef.proposal.messages[0]?.content?.title }}
  </div>
</div>

<div class="body">
  <div class="options">
    @for (voteOption of voteOptions; track voteOption.value) {
    <div class="option" [ngClass]="voteOption.className" role="button" (click)="voteDialogRef.close(voteOption.value)">
      {{ voteOption.title }}
    </div>
    }
  </div>

  <div class="description">
    <span class="text-error">No with Veto</span> signals a proposal infringes on minority interests, is spam, or
    breaches governance procedures. A proposal fails if over ⅓ vote "No with Veto".
  </div>
</div>
