<div class="step">
  <div class="outer-circle">
    <div class="inner-circle">
      @if (completed) {
      <img src="assets/checkmark.svg" alt="" />
      }
    </div>
  </div>

  <div class="caption">
    <div class="step-number">Step 1</div>

    <div class="step-title">{{ title }}</div>

    <div class="step-status">
      {{ completed ? 'Completed' : current ? 'In Progress' : 'Pending' }}
    </div>
  </div>
</div>

@if (!last) {
<div class="line">
  <div class="line-progress"></div>
</div>
}
